.header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.header button{
    margin-right: 20px;
}
.board{
    background-color: lightskyblue;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.columns{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 4px;
    padding: 10px 20px;
    width: 250px;
    margin: 10px 0 10px 10px;
}
.column .title{
    background-color: lightgray;
    font-weight: bold;
    margin-top: 10px;
}
.column .task-container{
    margin-top: 10px;
    height: 100%;
}