html, body, #root{
    width: 100%;
    height: 100%;
}
.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.btn-blue{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
.input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}